body {
  background-color:#660000; }
h1{color:#ffff00; }
P{
  font-size:16px;
  color:#cc0000;
}
header{
  border-botton: solid 3px #ffffff ;
  padding: 10px;
  font-size: 22px;
  color: white;
}
  




